
:root {
  --space-xs: 0.25rem; /* 4px */
  --space-sm: 0.5rem; /* 8px */
  --space-md: 1rem; /* 16px */
  --space-lg: 1.5rem; /* 24px */
  --space-xl: 2rem; /* 32px */

  --border: 2px solid rgb(0, 0, 0);
}

form{
  margin: var(--space-lg);
}


input{
    width: 200px;
    font-size: 1.1rem;
    padding: var(--space-xs);
}

button{
    padding: var(--space-xs);
    font-size: 1.15rem;
    color: black;
    font-weight: 500;
    background-color: rgb(0, 255, 106);
}
