*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #f3f4f6;
}

#root {
  width: 900px;
  max-width: 100%;
  margin: 0 auto;
  /* text-align: center; */
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-top: var(--space-xl);
  margin-bottom: var(--space-xl);
}
